.todo-content-input .mdl-textfield.is-focused:first-child {
  width: calc(100% - 70px);
}

.todo-content-input .mdl-button {
  right: -70px;
}

.todo-pagination {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.todo-pagination > a.todo-pagination-page {
  font-size: 16px;
  line-height: 32px;
  color: unset;
  text-decoration: unset;
}
.todo-pagination > a.todo-pagination-page.active {
  background: rgb(63,81,181);
  color: rgb(255,255,255);
}

.todo-list > .todo-list-item:hover {
  background: #dedede;
  cursor: pointer;
}

.todo-list > .todo-list-item.active {
  background: rgba(63,81,181,0.2);
}

.todo-list > .todo-list-item.active .todo-list-item__title {
  display: none;
}