.todo-content-input .mdl-textfield.is-focused:first-child {
  width: calc(100% - 70px);
}

.todo-content-input .mdl-button {
  right: -70px;
}

.todo-list > .todo-list-item .todo-checkbox.mdl-checkbox {
  padding-left: 30px;

  & .mdl-checkbox__focus-helper {
    width: 20px;
    height: 20px;
  }

  & .mdl-checkbox__box-outline {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, .54);
    background: none;
    mask: none;
    -webkit-mask: none;
  }

  & .mdl-checkbox__tick-outline {
    mask: none;
    -webkit-mask: none;
  }

  & .mdl-checkbox__ripple-container {
    left: -8px;
  }

  &.is-checked {
    & .mdl-checkbox__box-outline {
      border: 1px solid #3f51b5;
    }

    & .mdl-checkbox__tick-outline {
      background: #3f51b5 none;
      mask: none;
      -webkit-mask: none;
      width: 14px;
      height: 14px;
      top: 2px;
      left: 2px;
      border-radius: 50%;
    }
  }
}

.todo-list-item:has(.mdl-checkbox.is-checked) {
  background: #eeeeee;

  & .todo-list-item__title-text {
    text-decoration: line-through;

  }

  & .todo-list-item__memo {
    text-decoration: line-through;
  }

  & .todo-list-item__completed-info {
    display: inline-block;
  }
}

.todo-list > .todo-list-item {

  & .todo-list-item__content {
    margin-left: 15px;
    display: block;
    flex: 1;
  }

  & .todo-list-item__title-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    & .todo-list-item__title {
      flex: 1;
      display: flex;
      align-items: center;
    }
  }

  & .todo-list-item__title-text {
    cursor: text;
    display: block;
  }

  & .todo-list-item__completed-info {
    display: none;
    font-size: 12px;
    margin-left: 10px;
    color: #0d47a1;
  }

  & .todo-list-item__title-input {
    display: none;
    padding: 5px 0;

    & > label:after {
      bottom: 5px;
    }
  }

  & .todo-edited-info {
    display: none;
    font-size: 12px;
    margin-left: 20px;
    color: #0d47a1;
  }

  & .todo-list-item__info {
    margin-left: 10px;
    display: none;
  }
  
  & .todo-list-item__action.todo-list-item__action-delete {
    display: none;
    cursor: pointer;
  }

  & .mdl-chip:hover {
    cursor: pointer;
    outline: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  & .todo-list-item__date-time-row {
    & .todo-list-item__date-input-button, & .todo-list-item__time-input-button {
      display: none;
    }
  }

  & .todo-list-item__memo-row {
    color: rgba(0,0,0, 0.54);
    cursor: text;
    margin-bottom: 5px;

    & .todo-list-item__memo {
      margin-bottom: 0;
    }

    & .todo-list-item__memo-input-button {
      display: none;
    }

    & .todo-list-item__memo-input {
      display: none;
      width: 800px;
      padding: 10px 0 5px;

      & .mdl-textfield__input {
        font-size: 14px;
      }

      & .mdl-textfield__label {
        font-size: 14px;
        top: 16px;

        &:after {
          bottom: 5px;
        }
      }
    }
  }

  &:hover {
    background: #dedede;

    & .todo-list-item__info {
      display: block;
    }

    & .todo-list-item__action.todo-list-item__action-delete {
      display: inline-block;
    }
  }

  &.active {
    background: rgba(63, 81, 181, 0.2);

    & .todo-list-item__title-text {
      display: none;
    }

    & .todo-list-item__title-input {
      display: block;
    }

    & .todo-edited-info {
      display: block;
    }

    & .todo-list-item__info {
      display: block;
    }

    & .todo-list-item__action.todo-list-item__action-delete {
      display: inline-block;
    }

    & .todo-list-item__date-time-row {
      & .todo-list-item__date-input-button, & .todo-list-item__time-input-button {
        cursor: pointer;
        display: inline-block;
      }
    }

    & .todo-list-item__memo-row {
      display: block;

      & .todo-list-item__memo {
        display: none;
      }

      & .todo-list-item__memo-input-button {
        display: inline-block;
      }

      & .todo-list-item__memo-input {
        display: inline-block;
      }
    }
  }
}


