<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <title>U Know To do - 로그인</title>
</head>
<body>
<div class="mdl-layout">
  <header th:replace="~{/layout/header :: header}"></header>
  <main class="mdl-layout__content">
    <div class="mdl-card mdl-shadow--2dp" style="margin: 100px auto 20px; width: 500px">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">로그인</h2>
      </div>
      <div class="mdl-card__supporting-text" style="padding: 0 24px 16px;">
        <form method="post" action="/api/sign-in">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--full-width">
            <input class="mdl-textfield__input" type="text" id="username" name="id">
            <label class="mdl-textfield__label" for="username">아이디</label>
            <span class="mdl-textfield__error"></span>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--full-width">
            <input class="mdl-textfield__input" type="password" id="password" name="password">
            <label class="mdl-textfield__label" for="password">비밀번호</label>
            <span class="mdl-textfield__error"></span>
          </div>
          <div class="mdl-textfield mdl-js-textfield" style="margin: 5px 0; padding: 0; width: 100%">
            <input class="mdl-textfield__input" type="hidden" id="form-validation">
            <span class="mdl-textfield__error" style="top: -20px"></span>
          </div>
          <div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                    type="submit"
                    style="width: 100%; font-size: 20px; height: 50px;">
              로그인
            </button>
          </div>
        </form>
      </div>
      <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate hidden"></div>
    </div>
    <div style="margin: 0 auto; width: 500px;">
      <div class="mdl-grid mdl-typography--text-center">
        <div class="mdl-cell--6-col">
          <a class="mdl-color-text--grey-400" href="/sign-up">회원가입</a>
        </div>
        <div class="mdl-cell--6-col"></div>
      </div>
    </div>
  </main>
</div>
<div th:replace="~{/layout/common-script :: common-script}"></div>
<script src="/js/MaterialCustomizer.js"></script>
<script>
  const formElem = document.querySelector('form');
  const progressBar = document.querySelector('.mdl-progress');

  formElem.onsubmit = async (e) => {
    e.preventDefault();

    if(textField['username'].blankValidation('아이디를 입력하세요')) {
      return;
    }

    if(textField['password'].blankValidation('비밀번호를 입력하세요')) {
      return;
    }

    progressBar.classList.remove('hidden');

    const response = await fetch('/api/sign-in', {
      method: 'POST',
      body: new FormData(formElem)
    });

    const result = await response.json();

    progressBar.classList.add('hidden');

    if (result.success) {
      location.replace(result.content);
    } else {
      textField['form-validation'].customValidation(true, result.content || '로그인에 실패하였습니다.');
    }
  };

  document.querySelectorAll('.mdl-js-textfield > input').forEach(input => {
    input.onkeydown = () => {
      const object = textField[input.id];
      if (!object.isBlank()) {
        object.resetValidation();
      }
    };
  });
</script>
</body>
</html>