<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/material.min.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/todo.css">
  <script src="https://kit.fontawesome.com/35748dead7.js" crossorigin="anonymous"></script>
  <title>U Know To do</title>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header th:replace="~{/layout/header :: header}"></header>
  <main class="mdl-layout__content">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset">
        <h1 class="mdl-typography--display-1">안녕하세요, <span sec:authentication="principal.name"></span> 님!</h1>
        <div class="todo-content-input">
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="newTodoInput">
            <label class="mdl-textfield__label" for="newTodoInput">새로운 할일 제목</label>
          </div>
          <div>
            <button class="todo-content-add__button mdl-button mdl-js-button mdl-button--fab mdl-button--primary mdl-button--colored" disabled>
              <i style="line-height: 54px;" class="fa-solid fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset-desktop">
        <div class="mdl-grid">
          <div class="mdl-cell flex-cell--1" th:text="'총 '+${content.totalElements} + 개"></div>
          <div class="mdl-cell flex-cell--0">
          </div>
        </div>
        <ul class="mdl-list todo-list" th:with="todoList=${content.content}">
          <li th:each="todo: ${todoList}"
              th:data-no="${todo.todoNo}"
              class="mdl-list__item todo-list-item">
            <div>
              <label class="mdl-checkbox todo-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                     th:for="'todo-checkbox-' + ${todo.todoNo}">
                <input type="checkbox" th:id="'todo-checkbox-' + ${todo.todoNo}" class="mdl-checkbox__input"
                       th:checked="${todo.completed}"/>
              </label>
            </div>
            <div class="todo-list-item__content">
              <p class="todo-list-item__title-row">
                <span class="todo-list-item__title">
                  <span class="todo-list-item__title-text" th:text="${todo.todoName}"></span>
                  <span class="mdl-textfield mdl-js-textfield todo-list-item__title-input">
                    <input class="mdl-textfield__input" type="text"
                           th:value="${todo.todoName}"
                           th:id="'todo-title-input-' + ${todo.todoNo}">
                    <label class="mdl-textfield__label" th:for="'todo-title-input-' + ${todo.todoNo}"></label>
                  </span>
                  <span class="todo-edited-info hidden">수정중</span>
                  <span class="todo-list-item__completed-info">완료됨</span>
                  <span class="todo-list-item__info">
                    <i th:id="'todo-info-'+${todo.todoNo}"
                       class="fa-solid fa-circle-info mdl-color-text--primary"></i>
                    <span class="mdl-tooltip"
                          th:for="'todo-info-'+${todo.todoNo}">
                      생성일자: [[${todo.createdDate}]]<br/>
                      수정일자: [[${todo.updatedDate}]]
                    </span>
                  </span>
                </span>
                <span class="todo-list-item__action todo-list-item__action-delete mdl-color-text--grey-600">
                  <i class="fa-icon fa-solid fa-trash-can"></i>
                </span>
              </p>
              <div class="todo-list-item__memo-row">
                <p class="todo-list-item__memo" th:text="${todo.todoContent}"></p>
                <button th:classappend="${not#strings.isEmpty(todo.todoContent)} ? 'hidden'"
                        class="todo-list-item__memo-input-button mdl-chip mdl-color--primary mdl-color-text--white">
                  <span class="mdl-chip__text">메모 추가</span>
                </button>
                <span th:classappend="${#strings.isEmpty(todo.todoContent)} ? 'hidden'" class="mdl-textfield mdl-js-textfield todo-list-item__memo-input">
                  <input class="mdl-textfield__input" type="text"
                         th:value="${todo.todoContent}"
                         th:id="'todo-memo-input-' + ${todo.todoNo}">
                  <label class="mdl-textfield__label" th:for="'todo-memo-input-' + ${todo.todoNo}">메모</label>
                </span>
              </div>
              <div class="todo-list-item__date-time-row">
                <span th:classappend="${#strings.isEmpty(todo.todoDate)} ? 'hidden'"
                      class="mdl-chip mdl-chip--deletable todo-list-item__date-input mdl-color--indigo-50 mdl-color-text--primary">
                  <span class="mdl-chip__text" th:text="${todo.todoDate}"></span>
                  <button type="button" class="mdl-chip__action">
                    <i class="fa-solid fa-xmark"></i>
                  </button>
                </span>
                <span th:classappend="${#strings.isEmpty(todo.todoTime)} ? 'hidden'"
                      class="mdl-chip mdl-chip--deletable todo-list-item__time-input mdl-color--indigo-50 mdl-color-text--primary">
                  <span class="mdl-chip__text" th:text="${todo.todoTime}"></span>
                  <button type="button" class="mdl-chip__action">
                    <i class="fa-solid fa-xmark"></i>
                  </button>
                </span>
                <button th:classappend="${not#strings.isEmpty(todo.todoDate)} ? 'hidden'"
                        class="todo-list-item__date-input-button mdl-chip mdl-color--primary mdl-color-text--white">
                  <span class="mdl-chip__text">
                    <i style="line-height: 30px; margin-right: 3px;" class="fa-solid fa-calendar-days"></i>
                    <span style="vertical-align: top;">날짜 추가</span>
                  </span>
                </button>
                <button th:classappend="${#strings.isEmpty(todo.todoDate) or not#strings.isEmpty(todo.todoTime)} ? 'hidden'"
                        class="todo-list-item__time-input-button mdl-chip mdl-color--primary mdl-color-text--white">
                  <span class="mdl-chip__text">
                    <i style="line-height: 30px; margin-right: 3px;" class="fa-regular fa-clock"></i>
                    <span style="vertical-align: top;">시간 추가</span>
                  </span>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div th:replace="~{/layout/pagination :: pagination}"></div>
  </main>
  <footer>
    <div class="mdl-grid mdl-color--primary mdl-color-text--primary-contrast mdl-typography--text-center">
      <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset">
        <p>
          <span class="mdl-typography--title mdl-typography--font-bold">U Know To Do</span>
        </p>
        <p>Copyright &copy; 2024 Gayeon Kim, Sooyeon Um</p>
      </div>
    </div>
  </footer>
</div>
<div th:replace="~{/layout/common-script :: common-script}"></div>
<script>
  const newTextFieldInput = document.querySelector('#newTodoInput');
  const newAddButton = document.querySelector('.todo-content-add__button');

  newTextFieldInput.onkeyup = (e) => {
    const inputValue = e.target.value;
    newAddButton.disabled = (inputValue.trim() === '');
  };

  newAddButton.onmousedown = (e) => {
    e.preventDefault();
  }

  newAddButton.onclick = async () => {
    const response = await fetch('/api/todo', {
      method: 'POST',
      body: newTextFieldInput.value
    });

    const result = await response.json();

    if (result.success) {
      location.href = '/todo';
    } else {
      console.log(result);
    }
  }
</script>
<script src="/js/TodoList.js"></script>
</body>
</html>
